input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    text-align: center;
}
p{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
button{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}
body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}